@if (User.Claims.Any(c => c.Value == "Instructor"))
{
    <ul class="nav justify-content-center">
        <!-- Use 'nav' and 'justify-content-center' for centering -->
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Home/InstructorDashboard"> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Calendar">Calendar</a>
        </li>
    </ul>
}

