@if (User.Claims.Any(c => c.Value == "Instructor"))
{
    <ul class="nav justify-content-center">
        <!-- Use 'nav' and 'justify-content-center' for centering -->
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Home/InstructorDashboard"> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Calendar">Calendar</a>
        </li>
        <li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="bi bi-bell"></span
            </button>
                 
                <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                    <div class="notification-heading">
                        <h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right"></h4>
                    </div>
                    <li class="divider"></li>
                    <div class="notifications-wrapper">
                        <a class="content" href="#">

                            <div id="i" class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                                <a class="bi bi-trash-fill" onclick="remove()"></a>
                                
                            </div>

                        </a>
                        <a class="content" href="#">
                            <div id="i" class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                                <a class="bi bi-trash-fill" onclick="remove()"></a>
                            </div>
                        </a>
                        <a class="content" href="#">
                            <div id="i" class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                                <a class="bi bi-trash-fill" onclick="remove()"></a>
                            </div>
                        </a>
                        <a class="content" href="#">
                            <div id="i"class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                                <a class="bi bi-trash-fill" onclick="remove()"></a>
                            </div>

                        </a>
                        <a class="content" href="#">
                            <div id="i" class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                                <a class="bi bi-trash-fill" onclick="remove()"></a>
                            </div>
                        </a>
                        <a class="content" href="#">
                            <div id="i" class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                                <a class="bi bi-trash-fill" onclick="remove()"></a>
                            </div>
                        </a>
                        <script>
                            function remove() {
                            const element = document.getElementById("i");
                            element.parentNode.removeChild(element);
                            }
                        </script>
                    </div>
                    <li class="divider"></li>
                    <div class="notification-footer"><h4 class="menu-title">View all<i class="bi bi-arrow-right-circle-fill"></i></h4></div>
                </ul>

            </div>
        </li>
    </ul>
}

