@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">You Have Reached</h1>
    <h1 class="display-4">FIRENDS</h1>
    <h1 class="display-4">Learning Management System</h1>

</div>