@page
@model NotificationModel
@{
	ViewData["Title"] = "Notification";
}

<h1>Notification</h1>



    <div class="notification-heading">
        <h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right"></h4>
    </div>
@if (Model.Assignment.Any())
{
    @foreach (var assignment in Model.Assignment)
    {
        <li class="divider"></li>
        <div class="notifications-wrapper">
            <a class="content" style="font-weight: bold; font-size: 25px;" asp-page="/Assignments/StudentCourseView" asp-route-courseId="@assignment.course">
                <div id="i" class="notification-item">
                    <h4 class="item-title">@assignment.name</h4>
                    <p class="item-info">@assignment.description</p>
                    <h6>Has been created</h6>
                    
                    <a class="bi bi-trash-fill" onclick="remove()"></a>

                </div>

            </a>
            

            <script>
                function remove() {
                    const element = document.getElementById("i");
                    element.parentNode.removeChild(element);
                }
            </script>
        </div>
    }
}
@if (Model.Submission.Any())
{
    @foreach (var submission in Model.Submission)
    {
        <li class="divider"></li>
        <div class="notifications-wrapper">
            <a class="content" style="font-weight: bold; font-size: 25px;" asp-page="/Assignments/StudentCourseViewDetails" asp-route-id="@submission.AssignmentID">
                <div id="i" class="notification-item">
                    <h4 class="item-title">An assignment has been graded</h4>

                    <a class="bi bi-trash-fill" onclick="remove()"></a>

                </div>

            </a>


            <script>
                function remove() {
                    const element = document.getElementById("i");
                    element.parentNode.removeChild(element);
                }
            </script>
        </div>
    }
}

    <br />
