@page
@model Assignment1v3.Pages.Home.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <grid>
           <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
                <h5 class="card-title">Class Number</h5>
            <p class="card-text">Class Title.</p>
            <p class="card-text">Class Location.</p>
            <p class="card-text">Class Time</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Class Number</h5>
            <p class="card-text">Class Title.</p>
            <p class="card-text">Class Location.</p>
            <p class="card-text">Class Time</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Class Number</h5>
            <p class="card-text">Class Title.</p>
            <p class="card-text">Class Location.</p>
            <p class="card-text">Class Time</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Class Number</h5>
            <p class="card-text">Class Title.</p>
            <p class="card-text">Class Location.</p>
            <p class="card-text">Class Time</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </grid>
</table>
