@page
@model PaymentModel
@{
}

<html>
<head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <section>
        <div class="product">
            <img src="@Url.Content("~/profilePictures/books1.jpg")" alt="Dark Horizon"
                 style="width:601px;height:400px;" />
            <div class="description">
                <h3>@Model.Services</h3>
                <h5>$@Model.StudentBallance</h5>
            </div>
        </div>
        <form action="/create-checkout-session" method="POST">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </section>
</body>
</html>